{{ define "main" }}
<header class="content__header">
  <h1>{{ .Title | markdownify }}</h1>
  {{ .Content }}
</header>
Here are the post on here, sorted by category:
<section>
  <h2>Categories</h2>
  <ul>
    {{ range $taxonomy_term, $taxonomy := .Site.Taxonomies }} {{ if eq
    $taxonomy_term "categories" }} {{ with $.Site.GetPage (printf "/%s"
    $taxonomy_term) }} {{ range $key, $value := $taxonomy }}
    <li>
      <a href="{{ $.Site.BaseURL }}categories/{{ $key | urlize }}"
        >{{ $key }}</a
      >
      <ul>
        {{ range $value.Pages }}
        <li>
          <article class="post">
            <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
            <span class="date">{{ .Date.Format "2 January 2006" }}</span>
            <section class="post__summary">{{ .Summary }}</section>
            tags:
            <ul>
              {{ range .Params.tags }}
              <li>
                <a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}">{{ . }}</a>
              </li>
              {{ end }}
            </ul>
          </article>
        </li>
        {{ end }}
      </ul>
    </li>
    {{ end }} {{ end }} {{ end }} {{ end }}
  </ul>
</section>
{{ end }}
