/* Override this file to customise the theme's CSS for your site */

.date {
    font-size: 1em;
    color: var(--muted);
}

.tags {
    font-size: 1em;
    color: var(--off-fg);
}

.tags::before{
    content: "tags: ";
}

.tags ul{
  margin: 0;
  padding: 0;
}

.tags li{
    display: inline;
}

:root {
    zoom: 110%;
}