.page__logo {
    padding: 0;
    margin: 0;
    font-weight: inherit;
    color: var(--bg);
}

.page__logo:before {
    content: none;
}

.page__logo-inner {
    display: block;
    background: var(--logo);
    opacity: 0.90;
    padding: 0.25rem;
    -webkit-transform: translate3d(0, 0, 0);
    box-shadow: 0 0 0 0.25rem var(--logo), 0 0 20em 0em var(--link);

}

a.page__logo-inner:link, a.page__logo-inner:visited {
    color: inherit;
    text-decoration: inherit;
    text-shadow:none;
    transition: all 0.2s ease-in-out;
}

a.page__logo-inner:hover,
a.page__logo-inner:active {
    opacity: 1;
    text-shadow:none;
}
.page__logo-inner:before {
    content: "[";
    color: var(--bg);
}

.page__logo-inner:after {
    content: "]";
    color: var(--bg);
}

